= render 'header/header'
.coordinates-show
  %article#main
    %header#gbl_title
      #gbl_title_container パンくず
      #user_header
        .container
          .avatar
            - if @user.profile_image.present?
              = link_to image_tag(@user.profile_image.to_s), user_path
            - else
              = link_to image_tag('http://www.ark-wave.co.jp/contnt/bowler/img/no_image.jpg'), user_path
          .content
            %p.name #{@coordinate.user.name}
            .meta
              %ul.info
                %li #{@coordinate.user.height}cm
                %li #{@coordinate.user.gender}
    #gbl_body
      #content_container
        .comment_container
          .like_container
            %p.awesome Awesome
            %i.far.fa-heart
            %p.like 1045
          .comments
            //左コメント
            .balloon6
              .faceicon
                = link_to image_tag("//cdn.wimg.jp/profile/sirkp0/20190209200853931_80.jpg"), root_path
              .chatting
                .says
                  %p 左引き出し文
            //右コメント
            .mycomment
              %p 右引き出し文 
        .content_sub
          .coodinate_img
            = image_tag "//cdn.wimg.jp/profile/sirkp0/20190209200853931_80.jpg", height: "743", width: "556"
          .coodinate_info
            %ul
              %li モデル情報
              %li #{@coordinate.user.height}cm
              %li #{@coordinate.user.gender}
            .content #{@coordinate.item_detail}
          .coodinate_more
            %h3.coodinate_more__title #{@coordinate.user.name}のコーディネート
            %ul
              - @coordinates.each do |coordinate|
                %li.more_img
                  %p.img
                    -# - if coordinate.image.present?
                    = link_to image_tag(coordinate.image.to_s, height: "229", width: "172"), root_path
                  .like_container
                    %i.far.fa-heart
                  %p.like 1045
            .more
              =link_to 'もっと見る', user_path, class: 'over'
              
