!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Awesome
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/

  %body
    %header#header
      .container
        %h1.logo
          = link_to "Awesome", "/", class: "icon_font"
        - if user_signed_in?
          .user
            %p.img
              = link_to image_tag("//cdn.wimg.jp/profile/rtmg6b/20190709174938878_32.jpg", width: "32", height: "32", class: "image"), items_show_path
            %p.current_user-name
              = current_user.name
            %p.post 
              = link_to '投稿する', items_new_path, method: :get, class: "post_button"
            %p.logout
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout_button"
        - else
          .no_login
            %p.login
              = link_to new_user_session_path do
                %i.fas.fa-user ログイン
            %p.regist
              = link_to "新規会員登録", new_user_registration_path, class: "registration"
    = yield
